$font-all:'Playfair Display', serif;
$font-text-all: 'Open Sans',sans-serif;
$color-text-all:#333;
$color-white:#fff;
$color-active:#11883b;
$color-icon:#005929;
$bgr-color-hd:#252c30;
$bgr-hd-op:#252c3050;
$color-orange:#fd6700;
$bgr-sec:#f5f8f2;

