body.bgr-op{
	width: 100%;
	float: left;
	position: relative;
	min-height: 100vh;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

}
@media (min-width: 1200px){
	.container {
	    max-width: 1200px;
	}
}
body { 

	background: #fff; 
	color: $color-text-all; 
	font-family: $font-text-all;
	margin:0;
	padding: 0;
	font-size: 14px;
	line-height: 1.7;

	.Wrapper {
	    max-width: 1900px;
	    margin: 0 auto;
	}
	h1, h2, h3, h4, h5, h6{
    	line-height: 1.4;
	} 
	h1, h2, h3, h4, h5, h6,p{
    	margin-bottom: 0;
	}
	h1{
		font-size: 72px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	@media (max-width: 767px) {
		h1{
			font-size: 66px;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
		}
		h4{
			font-size: 16px;
		}
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}
	.none-pc{
		display: none;
		@media (max-width: 991px) {
			display: block;
		}
	}
	.hidden-mobie{
		@media (max-width: 991px) {
			display: none;
		}
	}
	.header-fixed{
		position: fixed;
		z-index: 999;
		width: 100%;
		background-color: $bgr-hd-op;
		transition: .5s;
		.logo{
			img{
				height: 60px;
			}
			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	.fixed-bgr{
		background-color: $bgr-color-hd;
		transition: .5s;
	}
	.clickall{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:10;
	}
	.bgr-op{
		&:before{
			content:"";
			width: 100%;
			height: 100%;
			background:rgba(0,0,0,.5);
			position: absolute;
			left: 0;
			top: 0;
		}
		.container{
			position: relative;
		}
	}
	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-icon;
		line-height: 45px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: $bgr-color-hd;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	// .bgr-img{
	// 	background-size: contain;
	//     background-repeat: no-repeat;
	//     background-image: url('../images/bgr/banner3.png');
	//     background-position: 1%;
	// }
	iframe{
		width: 100%;
	}
	.seemore{
		text-align: right;
		margin:10px 0;
		a{
			color: $color-orange;
			&:hover{
				color: $color-active;
			}
		}
	}
	
	#fix_header{
		z-index: 999;
	}
	section{
		
		background-color:#fff;
		position: relative;
		.container{
			padding-top: 80px;
			padding-bottom:80px;
			
		}
		.heading{
			font-family: $font-all;
			margin-bottom:50px;
			text-align: center;
			h1,h2,h3,h4,h5,h6{
				font-weight: bold;
				color: $bgr-color-hd;
				
			}
			p{
				margin-top: 30px;
				max-width: 60%;
				margin:30px  auto 0;
				font-size: 18px;
			}
		}
		@media (max-width: 767px) {
			.container{
				padding-top:80px;
				padding-bottom:80px;
			}
			.heading{
				p{
					max-width: 100%;
					margin:20px auto 0;
					font-size: 16px;
				}
			}
			
		}
		
	}
	section.list-index{
		.container{
			border-bottom: 2px solid #ebebeb;
		}
		.heading{
			text-align: left;
			margin-bottom:15px;
		}
		.box-list-links{
			background-color: #f4f8f2;
			
			margin-bottom: 30px;
			h2{
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				padding: 10px;
				span{
					cursor: pointer;
					font-size: 12px;
					font-weight: 400;
				}
			}
			.list-links{
				padding: 10px;
				font-size: 13px;
				display:none;
				>li{
					>ul{
						padding-left: 15px;
						padding-top: 5px;
						li{
							margin-bottom:5px;
						}
					}
				}
				@media (max-width: 767px) {
					padding: 0 10px;
				}
			}
			ul{
				span{
					font-weight: bold;
				}
				li{
					>a{
						&:hover{
							color: $color-active;
							text-decoration: underline;
						}
					}
				}
			}

		}
		.box-synopsis{
			.text-content{
				margin-bottom: 35px;
				ul,li{
					list-style: disc;
				}
				ul{
					padding-left: 40px;
				}
			}
		}
		.box-img{
			margin-bottom: 30px;
			img{
				width: 100%;
			}
		}
		.box-videos{
			margin-bottom: 30px;	
			iframe{
				width: 100%;
				height: 450px;
				border: none;
			}
			@media (max-width: 767px) {
				iframe{
					height: 300px;
				}
			}
		}
		@media (max-width: 767px) {
			.box-img{
				margin-bottom: 30px;
			}
		}
	}

	section.sec-quality{

		.item-index{
			.box-img-icon{
				font-size: 5rem;
				text-align: center;
				i{
					color: $color-icon;
				}
			}
			.box-info-item{
				h4{
					font-weight: bold;
					margin-bottom: 15px;
					text-align: center;
					font-family: $font-all;
				}
				p{
					@include text-hidden(5);
					text-align: center;
				}
			}
		}
	}
	section.sec-element{
		background:$bgr-sec;
		.item-index{
			margin-bottom: 35px;
			.box-img-icon{
				width: 60%;
				margin:0 auto;
				border-radius: 50%;
				border:2px solid $color-icon;
				.img-item{
					border-radius: 50%;
					@include img-prod-resp(100%);
				}
				margin-bottom: 35px;
			}
			.box-info-item{
				text-align: center;
				h4{
					font-weight: bold;
					font-size: 24px;
					margin-bottom: 15px;
					font-family: $font-all;
					@media (max-width: 767px){
						font-size: 20px;
					}
				}
				p{
					@include text-hidden(2);
					min-height: 48px;
				}
			}
		}
	}
	section.sec-benefit{
		background-color: $color-active;
		background-image: url('../images/bgr/bg-2.png');
		.box-sec-benefit{
			background-image: url('../images/bgr/girl.png');
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position-x: 85%;
		    @media (max-width: 991px) {
		    	background-image:none;
		    }
			.heading{
				h2{
					text-align: left;
					@media(max-width: 767px){
						text-align: center;
					}
				}
				p{
					text-align: left;
					font-size:24px;
					color: #fff;
					font-family: $font-all;
					max-width: 100%;

				}

			}
		    .list-benefit{
		    	display: flex;
		    	flex-wrap: wrap;
		    	justify-content: space-between;
		    	margin-bottom: 20px;
		    	li{
		    		width: 50%;
		    		margin-bottom: 30px;
		    		i{
		    			font-size: 30px;
		    			margin-right: 10px;
	    			    width: 50px;
						text-align: center;
		    		}
					span{
						font-size: 18px;
						color: #fff;
						font-weight: bold;
					}
		    	}
		    }
		    .box-btn{
		    	@include btn($bgr-color-hd,$color-active,$color-white,$bgr-color-hd);
				a{
					&:hover{
						color:$bgr-color-hd;
					}
				}
		    }
		    @media(max-width: 767px){
		    	.list-benefit{
		    		li{
		    			width: 100%;
		    			span{
		    				font-size: 16px;
		    			}
		    		}
		    	}
		    	.heading{
		    		p{
		    			font-size: 16px;
		    		}
		    	}
		    	.box-btn{
		    		margin-bottom: 30px;
		    		a{
		    			&:hover{
		    				color: $bgr-color-hd;
		    			}
		    		}
		    	}
		    	.box-img{

		    		margin-bottom: -30px;
		    	}
		    }

		}
	}
	section.sec-license{
		background:$bgr-sec;
		.item-index{
			.box-img-icon{
				@include img-prod-resp(123%);
				margin-bottom: 15px;
			}
			.box-info-item{
				text-align: center;

				h4{
					margin-bottom: 25px;
					font-family: $font-all;
					font-weight: 900;
				}
			}
		}
		@media(max-width: 767px){
			.item-index{
				margin-bottom: 30px;
				.box-info-item{
					h4{
						margin-bottom: 10px;
						font-weight: bold;
					}
				}
			}
		}
	}
	section.sec-step{
		
		.box-toggle-video{
			position: relative;
			margin-top: 10px;
			.btn-show-video{
				cursor: pointer;
				position: absolute;
				z-index: 9;
			    top: 50%;
			    transform: translate(-50%,-50%);
			    left: 50%;
			    border-radius: 50%;
			    border:none;
			    background-color: #fff;
			    padding:0;
			    height: 70px;
			    width: 70px;
			    text-align: center;
			    line-height: 70px;
			    i{
			    	font-size: 72px;
			    	color: $color-active;
			    }
			    &:hover{
			    	background-color: $color-active;
			    	i{
			    		color: #fff;
			    	}
			    	
			    }
			}
			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				content: "";
				background:rgba(0,0,0,0);
			}
		}
		
		.modal{
			background: #000;
		}
		.modal-body{
			padding:0;
		}
		.modal-content{
			background: transparent;
			border:none;
		}
		iframe{
			border: none;
			height: 500px;
		}
		button.close {
		    top: -10%;
		    right: -10%;
		    position: absolute;
		    font-size: 40px;
		    color: #fff;
		    opacity: 1;
		    @media (max-width: 767px) {
		    	top: -5%;
		    	right: -5%;
		    }
		}
		.box-step{
			.heading{
				margin-bottom: 15px;
				h2{
					text-align: left;
				}
				p{
					max-width: 100%;
					font-size: 14px;
					text-align: left;
				}
			}
			ul{
				li{
					text-align: left;
					margin-bottom: 15px;
					font-family: $font-text-all;
					span{
						font-size: 32px;
						font-weight: bold;
						text-transform: uppercase;
						@media (max-width: 767px) {
							@media (max-width: 767px) {
								font-size: 25px;
							}
						}
					}
					h4{
						font-size: 22px;
						margin-bottom: 15px;
						font-family: $font-all;
						font-weight:bold;
					}
					.price{
						color: $color-orange;
					}
					>ul{
						padding-left: 30px;
						li{
							
							list-style: disc;
						}
					}

				}
			}
			.box-btn{
				@include btn($color-active,$bgr-color-hd,$bgr-color-hd,$color-active);
				margin-bottom: 30px;
			}
			>p{
				margin-bottom: 15px;
				font-size: 16px;
				span{
					font-weight: bold;
				}
			}
		}
		.box-img{
			img{
				width: 100%;
			}
		}
		@media(max-width: 767px){
			.slide-list-place{
				iframe{
					width: 100%;
					height: 300px;
					border: none;
				}
			}
			.modal {
			    background: #000000;
			}
			 button.close {
			    top: -25%;
			    right: 0%;
			}
			.box-toggle-video{
				margin-bottom: 30px;
			}
			iframe{
				height: 300px;
			}
		}
	}
	.sec-mechanism{
	    background-image: url(../images/bgr/banner3.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 1%;
	    background-color: #000;
		.box-step{
			color: #fff;

			.heading{
				
				h2{
					color: #fff;
				}

			}
			ul{
				li{
					text-align: left;
					margin-bottom: 25px;
					font-family: $font-text-all;
					span{
						font-size: 32px;
					}
					h4{
						color: #fff;
					}
				}
			}
		}
	}
	section.sec-feedback{
		background-image: url("../images/bgr/bgr-sec-slide.jpg");
		background-size: cover;
		.heading{
			h2{
				color: #fff;
			}
			color: #fff;
		}
		.user-feedback{
			width: 70%; 
			margin:0 auto;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content:center;
			align-items: center;
			margin-bottom: 30px;
			.link-btn-user{
				margin:0 10px;
				margin-bottom: 10		px;
			}
			.box-img-user{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				margin:0 auto;
				border: 1px solid $color-active;
				// transition: .2s;
				cursor: pointer;
				img{
					width: 100%;
					height: 100%;
				}
			}
			&:focus{
				outline: 0;
			}
			.active{
				.box-img-user{
					width: 80px;
					height: 80px;
				}
			}
				

			
		}
		.content-feedback{
			margin: 0 10%;
			width: 80%;
			background: #fff;
			opacity:0.7;
			padding: 30px 50px 40px;
			.item-comment-fb{
				text-align: center;
				.name-user{
					color: $color-active;
					font-family: $font-all;
					font-weight:bold;
					margin-bottom: 5px;
					font-size: 18px;
				}
				.job{
					font-family: $font-text-all;
					margin-bottom: 30px;
				}
				.comment{
					font-size: 16px;
					font-family: $font-all;

					>i{
						font-size: 36px;
						color: $color-active;
						margin-top: 30px;
					}
				}
				&:focus{
					outline: 0;
				}
			}
		}
		@media (max-width: 767px) {
			.content-feedback{
				padding: 20px;
				margin:0;
				width: 100%;
			}
			.user-feedback{
				width: 100%;
			}
		}
	}
	.sec-use{
		background-image: url("../images/bgr/banner3.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 1%;
		background-color: #000;
		.box-step{
			color: #fff;

			.heading{
				h2{
					color: #fff;
				}
			}
			ul{
				li{
					text-align: left;
					margin-bottom: 25px;
					font-family: $font-text-all;
					span{
						font-size: 32px;
						
					}
					h4{
						color: #fff;
					}
				}
			}
		}
	}
	section.contact-hotline{
		background-color: $color-active;
		background-image: url(../images/bgr/bg-2.png);
		color: #fff;
		.box-l-id{
			padding-right:20%;
			p{
				font-size: 20px;
				text-transform: uppercase;
				margin-bottom: 30px;
				font-family: $font-all;
				font-weight: bold;
			}
		}
		.box-r-id{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.hotline-index{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				color: $color-orange;
				img{
					margin-right: 10px;
				}
				h5{
					font-size: 30px;
					font-weight: bold;
				}
			}
			.box-btn{
				@include btn($bgr-color-hd,$color-active,$color-white,$bgr-color-hd);
				a{
					&:hover{
						color:$bgr-color-hd;
					}
				}
			}
		}
		@media (max-width: 767px) {
			.box-l-id{
				padding-right:0;
				text-align: center;
				p{
					font-size: 20px;
					text-transform: uppercase;
				}

			}
			.box-r-id{
				display: unset;
				text-align: center;
				.hotline-index{
					text-align: center;
					display: unset;
					h5{
						margin-bottom: 30px;
					}
				}

				.box-btn{
					text-align: center;
				}
			}
		}
	}
	section.sec-note{
		.heading{
			margin-bottom: 15px;
			h3{
				text-align: left;
				font-size: 24px;
			}
		}
		.box-content-note{
			p{
				margin-bottom: 15px;
			}
		}
		.box-note{
			border:3px dotted $color-active;
			padding: 15px;
		}
	}
	section.question-answer{
		background-color: $bgr-sec;
		background-size: contain;
	    background-repeat: no-repeat;
	    background-image: url('../images/bgr/banner3.png');
	    background-position: 1%;
	}
	.question-answer{
		.panel{
			position: relative;
			padding: 15px;
			border:2px solid #f0f0f0;
			margin-bottom: 15px;
				
		}
		.panel-heading {
			position: relative;
			cursor: pointer;
			font-family:$font-all;
			font-weight: bold;
			padding-right: 15px;
			span{
				font-size: 20px;
			}
			&:hover{
				color: $color-active;
			}
			.chevron{
				position: absolute;
				right: 0px;
				top: 5px;
				font-size: 20px;
				&:after{
					content: "\f0d8"; 
				}
			}
		}
		.answer{
			padding-top: 15px;
			transition: .5s;
			// margin-bottom: 15px;
		}
		.panel-heading .chevron:after {
		      
		}
		.panel-heading.collapsed .chevron:after {
		    content: "\f0d7"; 
		}
	}

	section.sec-newpapers{
		.item{
			position: relative;
			@include img-prod-resp-zoom(100%);
			margin-bottom: 15px;
		}
	}
	.item-news{
	    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.1);
	    -moz-box-shadow: 0 0 16px rgba(0,0,0,.1);
	    box-shadow: 0 0 16px rgba(0,0,0,.1);
	    border-bottom: 3px solid transparent;
		.box-img-news{
			@include img-prod-resp-zoom(75%);

		}
		.box-info-news{
			padding: 15px;
			h4{
				font-size: 24px;
				font-weight: bold;
				font-family: $font-all;
				margin-bottom: 15px;
				min-height: 99px;
				@include text-hidden(3);
				&:hover{
					color: $color-active;
				}
			}
			p{
				@include text-hidden(4);
				min-height: 92px;

			}
		}
		&:hover{
			border-bottom: 3px solid $color-active;
		}
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
	

	section.banner{
		min-height: 375px;
		justify-content: center;
		background: url("../images/bgr/banner3.png");
		// background-attachment: fixed;
		// background-position: 50%; 
		display: flex;
		background-size: cover;
		flex-direction: column;
		background-color:$bgr-color-hd;
		position: relative;
		>.container{
			position: relative;
		}
		&:before {
		    content: "";
		    width: 100%;
		    height: 100%;
		    background: #00000073;
		    position: absolute;
		    left: 0;
		    top: 0;
		}
		    
		h2{
			color: #fff;
			font-family: $font-all;
			font-weight:  bold;
		}
	}
	.sec-content-page{
		.page-content-main{
			margin-bottom: 30px;
			.list-news{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.item-news{
					width: calc(50% - 10px );
					margin-bottom: 20px;
					.box-info-news {
						h4{
							@include text-hidden(2);
							min-height: 67px;
						}
					}
					
				}
			}
		}
		.box-list-links{
			background-color: #f4f8f2;
			
			margin-bottom: 30px;
			h2{
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				padding: 10px;
				span{
					cursor: pointer;
					font-size: 12px;
					font-weight: 400;
				}
			}
			.list-links{
				padding: 10px;
				font-size: 13px;
				>li{
					>ul{
						padding-left: 15px;
						padding-top: 5px;
						li{
							margin-bottom:5px;
						}
					}
				}
				@media (max-width: 767px) {
					padding: 0 10px;
				}
			}
			ul{
				span{
					font-weight: bold;
				}
				li{
					>a{
						&:hover{
							color: $color-active;
							text-decoration: underline;
						}
					}
				}
			}

		}
		.page-content-r{
			background: #f4f8f2;
			padding: 30px 15px;
			border-top: 3px solid $color-active;
			h3{
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 30px;
				font-family: $font-all;
			}
			.box-search{
				position: relative;
				margin-bottom: 30px;
				input{
					width: 100%;
					height: 40px;
					padding:0 40px 0 20px;
					border-radius: 20px;
					border: none;
				}
				button{
					position: absolute;
					right: 0;
					top: 0;
					background:transparent;
					width: 40px;
					border: none;
					height: 40px;
					border-radius: 20px;
					font-size: 18px;
					color:$bgr-color-hd;
					&:hover{
						color: $color-active;
					}
				}
			}
			.box-fanpage{
				iframe{
					width: 100%;
				}
				h3{
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 30px;
					font-family: $font-all;
				}
			}
			.box-news-relate{
				.list-news-relate{
					margin-bottom: 30px;
					.item-news{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: 15px;
						border-bottom: 2px solid transparent;
						padding-bottom: 1px;
						.img-l{
							width: calc(30% - 5px)
						}
						.box-info-news{
							padding: 0;
							width: calc(70% - 5px);
							h4{
								font-size: 16px;
								min-height: 70px;
								margin-bottom: 0;
							}
						}
						&:hover{
							border-bottom: 2px solid $color-active;
						}
					}
				}
			}
		}

		@media (max-width: 767px) {
			.page-content-main{
				width: 100%;
				float: left;
				.list-news{
					.item-news{
						width: 100%;
					}
				}
			}
			.page-content-r{
				.box-news-relate{
					.list-news-relate{
						.item-news{
							.box-info-news{
								h4{
									font-size:14px;
									padding: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
	.contact-form{
		background:$color-active;
		color: #fff;
		.hotline-contact{
			font-size: 20px;
			font-family: $font-all;
			font-weight: bold;
			margin-bottom: 100px;
			
				
			.phone{
				display: flex;
				align-items: center;
				margin:10px 0;
				img{
					margin-right: 10px;
				}
				a{
					color: #fd6700;
					font-size: 50px;
					font-family: $font-text-all;
				}
			}

		}
		h3{
			font-family: $font-all;
			font-size: 26px;
			font-weight:bold;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 10px;

		}
		.form-contact{
			.note-form{
				font-style:italic;
				span{
					font-size: 20px;
					color: #fd6700;
				}
			}
			.box-btn{
				text-align: center;
				@include btn($bgr-color-hd,$color-active,$color-white,$bgr-color-hd);
				a{
					&:hover{
						color:$bgr-color-hd;
					}
				}
			}
		}
		@media (max-width: 767px) {
			.hotline-contact{
				font-size: 16px;
				margin-bottom: 50px;
				.phone{
					margin:15px 0;
					a{
						font-size: 30px;
					}
				}
			}
			h3{
				font-size: 22px;
			}
		}
	}
	@media (max-width: 991px) {
		h1{
			font-size: 44px;
		}
	}


	.pag{
		float: right;
		.pagination{
			.active{
				
				.page-link {
					background:$color-active;
					outline: 0;
					border-color:$color-active;
				}
			}
			.page-link {
			    padding: .75rem 1rem;
			    cursor: pointer;
			    font-weight: bold;
			    &:hover{
			    	background:$color-active;
			    	border-color:$color-active;
			    	color: #fff;
			    	opacity: .7;
			    }
			}
		}
	}
	.owl-carousel {
		.owl-nav {
			button.owl-next,button.owl-prev,.owl-next,.owl-prev{
				position: absolute;
	    
			    top: 50%;
			    transform: translate(0,-50%);
			    font-size: 25px;
			    padding: 10px;
			    background:  $bgr-color-hd;
			    border-radius: 50%;
			    line-height: 0;
			    text-align: center;
			    color: #fff;
			    padding: 23px 19px!important;
			    &:hover{
			    	background: $color-active;
			    }
			}
			.owl-next{
				right: -50px;
			}
			.owl-prev{
				left: -50px;
			}
			@media (max-width: 767px) {
				position: relative;
				button.owl-next,button.owl-prev,.owl-next,.owl-prev{
					transform: translate(0,0);
				}
				.owl-next{
					right: 0;
					top: 0;
			    	
				}
				.owl-prev{
					left: 0;
				}
			}
		}
	}


}


