header{
	background-color: $bgr-color-hd;
	.box-header{
		position: relative;
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
		.box-menu{
			color: #fff;
		}
		.btn-toggle-menu{
			display: none;
		}
		.logo{
			padding: 5px;
			// width: 75px;
			img{
				height: 90px;
				width: auto;
			}
		}
		
		.menu{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex-direction:unset;

			// .active{
			// 	a{
			// 		color: $color-active;
			// 	}
				
			// }
			li{
				a{
					font-size: 16px;
					
					font-family: $font-all;
				}
				&:hover{
					>a{
						color: $color-active;
					}	
				}
				.active{
					color: $color-active;
				}
			}
			@media (min-width:992px ) {
				min-height: 70px;

				li.dropdown{
					&:hover{
						>.dropdown-menu{
							display: block;
						}
					}
				}
			}
			>li{
				color: #fff;
			}
			.dropdown-menu{
				margin:0;
				@media (min-width: 992px) {
					min-width: 15rem;
					padding: 0;
					.dropdown-item{
						padding: 10px;
						&:focus{
							outline: 0;
						}
						&:active{
							background-color: unset!important;
						}
					}
				}
			}
		}
		.box-search{
			position: relative;
			margin-left: 100px;
			input{
				position: absolute;
				right: 0;
				top: 0;
				font-size: 13px;
				height: 35px;
				width: 0;
				transition: 0.5s;
				border:none;

			}
			button{
				position: relative;
				height: 35px;
				border:none;
				background:transparent;
				color: #fff;
				width: 40px;
				text-align: center;
				transition: 0.5s;
				z-index: 1;
			}
			&:hover{
				input{
					width: 300px;
					padding: 0 50px 0 10px;
					border-radius: 30px;
				}
				button{
					color: $bgr-color-hd;
					&:hover{
						color:$color-active;
					}

				}
			}
			@media (max-width: 991px) {
				margin:30px 0;
				input{
					position: relative;
					width: 100%;
					border: 1px solid $color-active;
					border-radius: 30px;
					padding: 0 50px 0 10px;
				}
				&:hover{
					input{
						width: 100%;

					}
				}
				button{
					color: $bgr-color-hd;
					position: absolute;
					right: 0;
				}
			}
		}
		

	}
	@media (min-width: 992px) {
		.box-menu{
			.logo-mobie-fixed{
				display: none;
				visibility: visible;
			}
		}
	}
	@media (max-width: 991px) {
		.box-menu{
			width: 100%;
			display:block;

			.container{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			
			}
			.logo-mobie-fixed{
				width: 75px;
				padding:10px 0;
			}
		}
		.box-header{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.logo{
				padding:5px 0!important;
				width: 60px;
				// width: auto;
			}
			.content-header{
				width: 100%;
				margin-top: 100px;
				h1{
					line-height: 70px!important;
				}
				p{
					max-width: 95%!important;
				}
			}
			.btn-toggle-menu{
				display: block!important;
			    background: none;
			    height: 25px;
			    width: 25px;
			    box-sizing: border-box;
			    cursor: pointer;
			    outline: none;
			    border:none;
			    position: relative;
			    padding: 0;
			    z-index: 11;
			    &.hambger{
			        span{

			            background: transparent;

			            &:before{
			                top: 0;
			                transform: rotate(45deg);
			                background: #fff;
			                

			            }
			            &:after{
			                top: 0;
			                transform: rotate(-45deg);
			                background: #fff;
			            }
			        }
			    }
			    span{
			        display: block;
			        width: 25px;
			        height: 4px;
			        background: $color-active;
			        position: absolute;
			        top: 8px;
			        transition: .3s;
			        &:before{
			            content: "";
			            position: absolute;
			            top: -8px;
			            left: 0;
			            width: 100%;
			            height: 4px;
			            background: $color-active;
			            transition: .3s;
			        }
			        &:after{
			            content: "";
			            position: absolute;
			            top: 8px;
			            left: 0;
			            width: 100%;
			            height: 4px;
			            background:$color-active;
			            transition: .3s;
			        }

			    }
			}
		}
		.menu{
		    position: fixed;
		    bottom: 0;
		    right: -70vw;
		    width: 70vw;
		    height: calc(100vh - 70px);
		    transition: .3s;
		    background: #fff;
		    z-index: 99999;
		    padding: 10px;
		    display: unset!important;
		    margin-bottom: 0!important;
		   	border-top: 5px solid $color-active;
		    &.active{
		        right: 0!important;
		    }
	        li{
	            padding: 0;
	            a{
	                display: block;
	                font-size: 14px;
	                color:$color-text-all !important;
	                border-bottom: 1px solid $color-active;
	                padding: 10px;
	            }

	        }    
		    
		    .dropdown-menu{
		        padding: 0;
		        margin:0;
		        min-width: 100%;
		        border: none;
		        border-radius: 0;
		            box-shadow: 0px 2px 3px #000000fc;
		            color: $color-text-all;
		        .dropdown-item{
		            white-space:unset;
		            color: $color-text-all;
		            &:active,&:before,&:focus{
		                background: none;
		                color: unset;
		            }
		        }
		        li{
		            a{
		                padding: 5px;
		            }
		        }
		    }
		    .dropdown-toggle{
		        position: relative;
		        padding-right: 5px;
		        &:after{
		            margin-left: 0; 
		            right: 5px;
		            top: 15px;
		            position: absolute;
		        }
		    }
		}
	}
}
	

.header-index{
	position: relative;
	background-image: url("../images/bgr/bgr1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: 50%;
	&:before{
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #000;
		opacity: 0.3;
		z-index: 0;
	}
	.box-header{
		@media (min-width: 992px) {
			display: unset;
			min-height: 50px;
		}
		.logo{
			@media (min-width: 992px) {
				text-align: center;
				padding: 50px 0;
				width: unset;
			}
		}
		.content-header{
			text-align: center;
			color: #fff;
			h1{
				font-weight: bold;
				font-family: $font-all;
				line-height: 90px;
				margin: 40px 0;
				span{
					color: $color-active;
				}
			}
			p{
				max-width: 50%;
				margin:0 auto;
				margin-bottom: 40px;
			}
			.box-btn{
				@include btn($color-active,$bgr-color-hd,$bgr-color-hd,$color-active);
			}
		}
	}
}



