@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
header {
  background-color: #252c30; }
  header .box-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    header .box-header .box-menu {
      color: #fff; }
    header .box-header .btn-toggle-menu {
      display: none; }
    header .box-header .logo {
      padding: 5px; }
      header .box-header .logo img {
        height: 90px;
        width: auto; }
    header .box-header .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: unset; }
      header .box-header .menu li a {
        font-size: 16px;
        font-family: "Playfair Display", serif; }
      header .box-header .menu li:hover > a {
        color: #11883b; }
      header .box-header .menu li .active {
        color: #11883b; }
      @media (min-width: 992px) {
        header .box-header .menu {
          min-height: 70px; }
          header .box-header .menu li.dropdown:hover > .dropdown-menu {
            display: block; } }
      header .box-header .menu > li {
        color: #fff; }
      header .box-header .menu .dropdown-menu {
        margin: 0; }
        @media (min-width: 992px) {
          header .box-header .menu .dropdown-menu {
            min-width: 15rem;
            padding: 0; }
            header .box-header .menu .dropdown-menu .dropdown-item {
              padding: 10px; }
              header .box-header .menu .dropdown-menu .dropdown-item:focus {
                outline: 0; }
              header .box-header .menu .dropdown-menu .dropdown-item:active {
                background-color: unset !important; } }
    header .box-header .box-search {
      position: relative;
      margin-left: 100px; }
      header .box-header .box-search input {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 13px;
        height: 35px;
        width: 0;
        transition: 0.5s;
        border: none; }
      header .box-header .box-search button {
        position: relative;
        height: 35px;
        border: none;
        background: transparent;
        color: #fff;
        width: 40px;
        text-align: center;
        transition: 0.5s;
        z-index: 1; }
      header .box-header .box-search:hover input {
        width: 300px;
        padding: 0 50px 0 10px;
        border-radius: 30px; }
      header .box-header .box-search:hover button {
        color: #252c30; }
        header .box-header .box-search:hover button:hover {
          color: #11883b; }
      @media (max-width: 991px) {
        header .box-header .box-search {
          margin: 30px 0; }
          header .box-header .box-search input {
            position: relative;
            width: 100%;
            border: 1px solid #11883b;
            border-radius: 30px;
            padding: 0 50px 0 10px; }
          header .box-header .box-search:hover input {
            width: 100%; }
          header .box-header .box-search button {
            color: #252c30;
            position: absolute;
            right: 0; } }
  @media (min-width: 992px) {
    header .box-menu .logo-mobie-fixed {
      display: none;
      visibility: visible; } }
  @media (max-width: 991px) {
    header .box-menu {
      width: 100%;
      display: block; }
      header .box-menu .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
      header .box-menu .logo-mobie-fixed {
        width: 75px;
        padding: 10px 0; }
    header .box-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      header .box-header .logo {
        padding: 5px 0 !important;
        width: 60px; }
      header .box-header .content-header {
        width: 100%;
        margin-top: 100px; }
        header .box-header .content-header h1 {
          line-height: 70px !important; }
        header .box-header .content-header p {
          max-width: 95% !important; }
      header .box-header .btn-toggle-menu {
        display: block !important;
        background: none;
        height: 25px;
        width: 25px;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        border: none;
        position: relative;
        padding: 0;
        z-index: 11; }
        header .box-header .btn-toggle-menu.hambger span {
          background: transparent; }
          header .box-header .btn-toggle-menu.hambger span:before {
            top: 0;
            transform: rotate(45deg);
            background: #fff; }
          header .box-header .btn-toggle-menu.hambger span:after {
            top: 0;
            transform: rotate(-45deg);
            background: #fff; }
        header .box-header .btn-toggle-menu span {
          display: block;
          width: 25px;
          height: 4px;
          background: #11883b;
          position: absolute;
          top: 8px;
          transition: .3s; }
          header .box-header .btn-toggle-menu span:before {
            content: "";
            position: absolute;
            top: -8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #11883b;
            transition: .3s; }
          header .box-header .btn-toggle-menu span:after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #11883b;
            transition: .3s; }
    header .menu {
      position: fixed;
      bottom: 0;
      right: -70vw;
      width: 70vw;
      height: calc(100vh - 70px);
      transition: .3s;
      background: #fff;
      z-index: 99999;
      padding: 10px;
      display: unset !important;
      margin-bottom: 0 !important;
      border-top: 5px solid #11883b; }
      header .menu.active {
        right: 0 !important; }
      header .menu li {
        padding: 0; }
        header .menu li a {
          display: block;
          font-size: 14px;
          color: #333 !important;
          border-bottom: 1px solid #11883b;
          padding: 10px; }
      header .menu .dropdown-menu {
        padding: 0;
        margin: 0;
        min-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: 0px 2px 3px #000000fc;
        color: #333; }
        header .menu .dropdown-menu .dropdown-item {
          white-space: unset;
          color: #333; }
          header .menu .dropdown-menu .dropdown-item:active, header .menu .dropdown-menu .dropdown-item:before, header .menu .dropdown-menu .dropdown-item:focus {
            background: none;
            color: unset; }
        header .menu .dropdown-menu li a {
          padding: 5px; }
      header .menu .dropdown-toggle {
        position: relative;
        padding-right: 5px; }
        header .menu .dropdown-toggle:after {
          margin-left: 0;
          right: 5px;
          top: 15px;
          position: absolute; } }

.header-index {
  position: relative;
  background-image: url("../images/bgr/bgr1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 50%; }
  .header-index:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
    z-index: 0; }
  @media (min-width: 992px) {
    .header-index .box-header {
      display: unset;
      min-height: 50px; } }
  @media (min-width: 992px) {
    .header-index .box-header .logo {
      text-align: center;
      padding: 50px 0;
      width: unset; } }
  .header-index .box-header .content-header {
    text-align: center;
    color: #fff; }
    .header-index .box-header .content-header h1 {
      font-weight: bold;
      font-family: "Playfair Display", serif;
      line-height: 90px;
      margin: 40px 0; }
      .header-index .box-header .content-header h1 span {
        color: #11883b; }
    .header-index .box-header .content-header p {
      max-width: 50%;
      margin: 0 auto;
      margin-bottom: 40px; }
    .header-index .box-header .content-header .box-btn a {
      padding: 15px 55px 15px 35px;
      border-radius: 30px;
      min-width: 170px;
      position: relative;
      background: #11883b;
      display: inline-block;
      text-transform: uppercase;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      color: #fff; }
      .header-index .box-header .content-header .box-btn a:after {
        content: "\f138";
        font-family: fontAwesome;
        font-size: 14px;
        margin-left: 10px;
        padding-top: 1px;
        position: absolute;
        color: #252c30;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .header-index .box-header .content-header .box-btn a:hover {
        background: #252c30 !important; }
        .header-index .box-header .content-header .box-btn a:hover:after {
          color: #11883b !important; }

body.bgr-op {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100vh; }
  body.bgr-op:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

body {
  background: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7; }
  body .Wrapper {
    max-width: 1900px;
    margin: 0 auto; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    line-height: 1.4; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin-bottom: 0; }
  body h1 {
    font-size: 72px; }
  body h2 {
    font-size: 36px; }
  body h3 {
    font-size: 22px; }
  body h4 {
    font-size: 18px; }
  @media (max-width: 767px) {
    body h1 {
      font-size: 66px; }
    body h2 {
      font-size: 28px; }
    body h3 {
      font-size: 20px; }
    body h4 {
      font-size: 16px; } }
  body ul, body li {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  body img {
    max-width: 100%; }
  body button:focus, body input:focus, body select:focus, body textarea:focus {
    outline: 0; }
  body a {
    color: unset;
    text-decoration: none; }
    body a:hover, body a:active, body a:focus {
      text-decoration: none;
      color: unset; }
  body .none-pc {
    display: none; }
    @media (max-width: 991px) {
      body .none-pc {
        display: block; } }
  @media (max-width: 991px) {
    body .hidden-mobie {
      display: none; } }
  body .header-fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #252c3050;
    transition: .5s; }
    body .header-fixed .logo img {
      height: 60px; }
    @media (max-width: 991px) {
      body .header-fixed .logo {
        display: none; } }
  body .fixed-bgr {
    background-color: #252c30;
    transition: .5s; }
  body .clickall {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }
  body .bgr-op:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0; }
  body .bgr-op .container {
    position: relative; }
  body .back-to-top {
    position: fixed;
    bottom: -50px;
    right: -50px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
    -moz-background-clip: padding;
    background-color: #005929;
    line-height: 45px;
    text-align: center;
    color: #fff;
    display: inline;
    z-index: 999999;
    cursor: pointer; }
    body .back-to-top a {
      display: block;
      color: #fff; }
    body .back-to-top:hover {
      background: #252c30;
      color: #fff; }
    body .back-to-top:hover a, body .back-to-top:focus a {
      color: #fff; }
    body .back-to-top.display {
      bottom: 50px;
      right: 10px; }
    body .back-to-top.fa {
      margin-bottom: 0; }
  body iframe {
    width: 100%; }
  body .seemore {
    text-align: right;
    margin: 10px 0; }
    body .seemore a {
      color: #fd6700; }
      body .seemore a:hover {
        color: #11883b; }
  body #fix_header {
    z-index: 999; }
  body section {
    background-color: #fff;
    position: relative; }
    body section .container {
      padding-top: 80px;
      padding-bottom: 80px; }
    body section .heading {
      font-family: "Playfair Display", serif;
      margin-bottom: 50px;
      text-align: center; }
      body section .heading h1, body section .heading h2, body section .heading h3, body section .heading h4, body section .heading h5, body section .heading h6 {
        font-weight: bold;
        color: #252c30; }
      body section .heading p {
        margin-top: 30px;
        max-width: 60%;
        margin: 30px  auto 0;
        font-size: 18px; }
    @media (max-width: 767px) {
      body section .container {
        padding-top: 80px;
        padding-bottom: 80px; }
      body section .heading p {
        max-width: 100%;
        margin: 20px auto 0;
        font-size: 16px; } }
  body section.list-index .container {
    border-bottom: 2px solid #ebebeb; }
  body section.list-index .heading {
    text-align: left;
    margin-bottom: 15px; }
  body section.list-index .box-list-links {
    background-color: #f4f8f2;
    margin-bottom: 30px; }
    body section.list-index .box-list-links h2 {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 10px; }
      body section.list-index .box-list-links h2 span {
        cursor: pointer;
        font-size: 12px;
        font-weight: 400; }
    body section.list-index .box-list-links .list-links {
      padding: 10px;
      font-size: 13px;
      display: none; }
      body section.list-index .box-list-links .list-links > li > ul {
        padding-left: 15px;
        padding-top: 5px; }
        body section.list-index .box-list-links .list-links > li > ul li {
          margin-bottom: 5px; }
      @media (max-width: 767px) {
        body section.list-index .box-list-links .list-links {
          padding: 0 10px; } }
    body section.list-index .box-list-links ul span {
      font-weight: bold; }
    body section.list-index .box-list-links ul li > a:hover {
      color: #11883b;
      text-decoration: underline; }
  body section.list-index .box-synopsis .text-content {
    margin-bottom: 35px; }
    body section.list-index .box-synopsis .text-content ul, body section.list-index .box-synopsis .text-content li {
      list-style: disc; }
    body section.list-index .box-synopsis .text-content ul {
      padding-left: 40px; }
  body section.list-index .box-img {
    margin-bottom: 30px; }
    body section.list-index .box-img img {
      width: 100%; }
  body section.list-index .box-videos {
    margin-bottom: 30px; }
    body section.list-index .box-videos iframe {
      width: 100%;
      height: 450px;
      border: none; }
    @media (max-width: 767px) {
      body section.list-index .box-videos iframe {
        height: 300px; } }
  @media (max-width: 767px) {
    body section.list-index .box-img {
      margin-bottom: 30px; } }
  body section.sec-quality .item-index .box-img-icon {
    font-size: 5rem;
    text-align: center; }
    body section.sec-quality .item-index .box-img-icon i {
      color: #005929; }
  body section.sec-quality .item-index .box-info-item h4 {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Playfair Display", serif; }
  body section.sec-quality .item-index .box-info-item p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center; }
  body section.sec-element {
    background: #f5f8f2; }
    body section.sec-element .item-index {
      margin-bottom: 35px; }
      body section.sec-element .item-index .box-img-icon {
        width: 60%;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid #005929;
        margin-bottom: 35px; }
        body section.sec-element .item-index .box-img-icon .img-item {
          border-radius: 50%;
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 100%;
          overflow: hidden; }
          body section.sec-element .item-index .box-img-icon .img-item img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; }
      body section.sec-element .item-index .box-info-item {
        text-align: center; }
        body section.sec-element .item-index .box-info-item h4 {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 15px;
          font-family: "Playfair Display", serif; }
          @media (max-width: 767px) {
            body section.sec-element .item-index .box-info-item h4 {
              font-size: 20px; } }
        body section.sec-element .item-index .box-info-item p {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 48px; }
  body section.sec-benefit {
    background-color: #11883b;
    background-image: url("../images/bgr/bg-2.png"); }
    body section.sec-benefit .box-sec-benefit {
      background-image: url("../images/bgr/girl.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: 85%; }
      @media (max-width: 991px) {
        body section.sec-benefit .box-sec-benefit {
          background-image: none; } }
      body section.sec-benefit .box-sec-benefit .heading h2 {
        text-align: left; }
        @media (max-width: 767px) {
          body section.sec-benefit .box-sec-benefit .heading h2 {
            text-align: center; } }
      body section.sec-benefit .box-sec-benefit .heading p {
        text-align: left;
        font-size: 24px;
        color: #fff;
        font-family: "Playfair Display", serif;
        max-width: 100%; }
      body section.sec-benefit .box-sec-benefit .list-benefit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px; }
        body section.sec-benefit .box-sec-benefit .list-benefit li {
          width: 50%;
          margin-bottom: 30px; }
          body section.sec-benefit .box-sec-benefit .list-benefit li i {
            font-size: 30px;
            margin-right: 10px;
            width: 50px;
            text-align: center; }
          body section.sec-benefit .box-sec-benefit .list-benefit li span {
            font-size: 18px;
            color: #fff;
            font-weight: bold; }
      body section.sec-benefit .box-sec-benefit .box-btn a {
        padding: 15px 55px 15px 35px;
        border-radius: 30px;
        min-width: 170px;
        position: relative;
        background: #252c30;
        display: inline-block;
        text-transform: uppercase;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #fff; }
        body section.sec-benefit .box-sec-benefit .box-btn a:after {
          content: "\f138";
          font-family: fontAwesome;
          font-size: 14px;
          margin-left: 10px;
          padding-top: 1px;
          position: absolute;
          color: #11883b;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        body section.sec-benefit .box-sec-benefit .box-btn a:hover {
          background: #fff !important; }
          body section.sec-benefit .box-sec-benefit .box-btn a:hover:after {
            color: #252c30 !important; }
      body section.sec-benefit .box-sec-benefit .box-btn a:hover {
        color: #252c30; }
      @media (max-width: 767px) {
        body section.sec-benefit .box-sec-benefit .list-benefit li {
          width: 100%; }
          body section.sec-benefit .box-sec-benefit .list-benefit li span {
            font-size: 16px; }
        body section.sec-benefit .box-sec-benefit .heading p {
          font-size: 16px; }
        body section.sec-benefit .box-sec-benefit .box-btn {
          margin-bottom: 30px; }
          body section.sec-benefit .box-sec-benefit .box-btn a:hover {
            color: #252c30; }
        body section.sec-benefit .box-sec-benefit .box-img {
          margin-bottom: -30px; } }
  body section.sec-license {
    background: #f5f8f2; }
    body section.sec-license .item-index .box-img-icon {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 123%;
      overflow: hidden;
      margin-bottom: 15px; }
      body section.sec-license .item-index .box-img-icon img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    body section.sec-license .item-index .box-info-item {
      text-align: center; }
      body section.sec-license .item-index .box-info-item h4 {
        margin-bottom: 25px;
        font-family: "Playfair Display", serif;
        font-weight: 900; }
    @media (max-width: 767px) {
      body section.sec-license .item-index {
        margin-bottom: 30px; }
        body section.sec-license .item-index .box-info-item h4 {
          margin-bottom: 10px;
          font-weight: bold; } }
  body section.sec-step .box-toggle-video {
    position: relative;
    margin-top: 10px; }
    body section.sec-step .box-toggle-video .btn-show-video {
      cursor: pointer;
      position: absolute;
      z-index: 9;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      border-radius: 50%;
      border: none;
      background-color: #fff;
      padding: 0;
      height: 70px;
      width: 70px;
      text-align: center;
      line-height: 70px; }
      body section.sec-step .box-toggle-video .btn-show-video i {
        font-size: 72px;
        color: #11883b; }
      body section.sec-step .box-toggle-video .btn-show-video:hover {
        background-color: #11883b; }
        body section.sec-step .box-toggle-video .btn-show-video:hover i {
          color: #fff; }
    body section.sec-step .box-toggle-video:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0); }
  body section.sec-step .modal {
    background: #000; }
  body section.sec-step .modal-body {
    padding: 0; }
  body section.sec-step .modal-content {
    background: transparent;
    border: none; }
  body section.sec-step iframe {
    border: none;
    height: 500px; }
  body section.sec-step button.close {
    top: -10%;
    right: -10%;
    position: absolute;
    font-size: 40px;
    color: #fff;
    opacity: 1; }
    @media (max-width: 767px) {
      body section.sec-step button.close {
        top: -5%;
        right: -5%; } }
  body section.sec-step .box-step .heading {
    margin-bottom: 15px; }
    body section.sec-step .box-step .heading h2 {
      text-align: left; }
    body section.sec-step .box-step .heading p {
      max-width: 100%;
      font-size: 14px;
      text-align: left; }
  body section.sec-step .box-step ul li {
    text-align: left;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif; }
    body section.sec-step .box-step ul li span {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase; }

@media (max-width: 767px) and (max-width: 767px) {
  body section.sec-step .box-step ul li span {
    font-size: 25px; } }
    body section.sec-step .box-step ul li h4 {
      font-size: 22px;
      margin-bottom: 15px;
      font-family: "Playfair Display", serif;
      font-weight: bold; }
    body section.sec-step .box-step ul li .price {
      color: #fd6700; }
    body section.sec-step .box-step ul li > ul {
      padding-left: 30px; }
      body section.sec-step .box-step ul li > ul li {
        list-style: disc; }
  body section.sec-step .box-step .box-btn {
    margin-bottom: 30px; }
    body section.sec-step .box-step .box-btn a {
      padding: 15px 55px 15px 35px;
      border-radius: 30px;
      min-width: 170px;
      position: relative;
      background: #11883b;
      display: inline-block;
      text-transform: uppercase;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      color: #fff; }
      body section.sec-step .box-step .box-btn a:after {
        content: "\f138";
        font-family: fontAwesome;
        font-size: 14px;
        margin-left: 10px;
        padding-top: 1px;
        position: absolute;
        color: #252c30;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      body section.sec-step .box-step .box-btn a:hover {
        background: #252c30 !important; }
        body section.sec-step .box-step .box-btn a:hover:after {
          color: #11883b !important; }
  body section.sec-step .box-step > p {
    margin-bottom: 15px;
    font-size: 16px; }
    body section.sec-step .box-step > p span {
      font-weight: bold; }
  body section.sec-step .box-img img {
    width: 100%; }
  @media (max-width: 767px) {
    body section.sec-step .slide-list-place iframe {
      width: 100%;
      height: 300px;
      border: none; }
    body section.sec-step .modal {
      background: #000000; }
    body section.sec-step button.close {
      top: -25%;
      right: 0%; }
    body section.sec-step .box-toggle-video {
      margin-bottom: 30px; }
    body section.sec-step iframe {
      height: 300px; } }
  body .sec-mechanism {
    background-image: url(../images/bgr/banner3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1%;
    background-color: #000; }
    body .sec-mechanism .box-step {
      color: #fff; }
      body .sec-mechanism .box-step .heading h2 {
        color: #fff; }
      body .sec-mechanism .box-step ul li {
        text-align: left;
        margin-bottom: 25px;
        font-family: "Open Sans", sans-serif; }
        body .sec-mechanism .box-step ul li span {
          font-size: 32px; }
        body .sec-mechanism .box-step ul li h4 {
          color: #fff; }
  body section.sec-feedback {
    background-image: url("../images/bgr/bgr-sec-slide.jpg");
    background-size: cover; }
    body section.sec-feedback .heading {
      color: #fff; }
      body section.sec-feedback .heading h2 {
        color: #fff; }
    body section.sec-feedback .user-feedback {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px; }
      body section.sec-feedback .user-feedback .link-btn-user {
        margin: 0 10px;
        margin-bottom: 10		px; }
      body section.sec-feedback .user-feedback .box-img-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        border: 1px solid #11883b;
        cursor: pointer; }
        body section.sec-feedback .user-feedback .box-img-user img {
          width: 100%;
          height: 100%; }
      body section.sec-feedback .user-feedback:focus {
        outline: 0; }
      body section.sec-feedback .user-feedback .active .box-img-user {
        width: 80px;
        height: 80px; }
    body section.sec-feedback .content-feedback {
      margin: 0 10%;
      width: 80%;
      background: #fff;
      opacity: 0.7;
      padding: 30px 50px 40px; }
      body section.sec-feedback .content-feedback .item-comment-fb {
        text-align: center; }
        body section.sec-feedback .content-feedback .item-comment-fb .name-user {
          color: #11883b;
          font-family: "Playfair Display", serif;
          font-weight: bold;
          margin-bottom: 5px;
          font-size: 18px; }
        body section.sec-feedback .content-feedback .item-comment-fb .job {
          font-family: "Open Sans", sans-serif;
          margin-bottom: 30px; }
        body section.sec-feedback .content-feedback .item-comment-fb .comment {
          font-size: 16px;
          font-family: "Playfair Display", serif; }
          body section.sec-feedback .content-feedback .item-comment-fb .comment > i {
            font-size: 36px;
            color: #11883b;
            margin-top: 30px; }
        body section.sec-feedback .content-feedback .item-comment-fb:focus {
          outline: 0; }
    @media (max-width: 767px) {
      body section.sec-feedback .content-feedback {
        padding: 20px;
        margin: 0;
        width: 100%; }
      body section.sec-feedback .user-feedback {
        width: 100%; } }
  body .sec-use {
    background-image: url("../images/bgr/banner3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1%;
    background-color: #000; }
    body .sec-use .box-step {
      color: #fff; }
      body .sec-use .box-step .heading h2 {
        color: #fff; }
      body .sec-use .box-step ul li {
        text-align: left;
        margin-bottom: 25px;
        font-family: "Open Sans", sans-serif; }
        body .sec-use .box-step ul li span {
          font-size: 32px; }
        body .sec-use .box-step ul li h4 {
          color: #fff; }
  body section.contact-hotline {
    background-color: #11883b;
    background-image: url(../images/bgr/bg-2.png);
    color: #fff; }
    body section.contact-hotline .box-l-id {
      padding-right: 20%; }
      body section.contact-hotline .box-l-id p {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-family: "Playfair Display", serif;
        font-weight: bold; }
    body section.contact-hotline .box-r-id {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      body section.contact-hotline .box-r-id .hotline-index {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #fd6700; }
        body section.contact-hotline .box-r-id .hotline-index img {
          margin-right: 10px; }
        body section.contact-hotline .box-r-id .hotline-index h5 {
          font-size: 30px;
          font-weight: bold; }
      body section.contact-hotline .box-r-id .box-btn a {
        padding: 15px 55px 15px 35px;
        border-radius: 30px;
        min-width: 170px;
        position: relative;
        background: #252c30;
        display: inline-block;
        text-transform: uppercase;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #fff; }
        body section.contact-hotline .box-r-id .box-btn a:after {
          content: "\f138";
          font-family: fontAwesome;
          font-size: 14px;
          margin-left: 10px;
          padding-top: 1px;
          position: absolute;
          color: #11883b;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        body section.contact-hotline .box-r-id .box-btn a:hover {
          background: #fff !important; }
          body section.contact-hotline .box-r-id .box-btn a:hover:after {
            color: #252c30 !important; }
      body section.contact-hotline .box-r-id .box-btn a:hover {
        color: #252c30; }
    @media (max-width: 767px) {
      body section.contact-hotline .box-l-id {
        padding-right: 0;
        text-align: center; }
        body section.contact-hotline .box-l-id p {
          font-size: 20px;
          text-transform: uppercase; }
      body section.contact-hotline .box-r-id {
        display: unset;
        text-align: center; }
        body section.contact-hotline .box-r-id .hotline-index {
          text-align: center;
          display: unset; }
          body section.contact-hotline .box-r-id .hotline-index h5 {
            margin-bottom: 30px; }
        body section.contact-hotline .box-r-id .box-btn {
          text-align: center; } }
  body section.sec-note .heading {
    margin-bottom: 15px; }
    body section.sec-note .heading h3 {
      text-align: left;
      font-size: 24px; }
  body section.sec-note .box-content-note p {
    margin-bottom: 15px; }
  body section.sec-note .box-note {
    border: 3px dotted #11883b;
    padding: 15px; }
  body section.question-answer {
    background-color: #f5f8f2;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/bgr/banner3.png");
    background-position: 1%; }
  body .question-answer .panel {
    position: relative;
    padding: 15px;
    border: 2px solid #f0f0f0;
    margin-bottom: 15px; }
  body .question-answer .panel-heading {
    position: relative;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    padding-right: 15px; }
    body .question-answer .panel-heading span {
      font-size: 20px; }
    body .question-answer .panel-heading:hover {
      color: #11883b; }
    body .question-answer .panel-heading .chevron {
      position: absolute;
      right: 0px;
      top: 5px;
      font-size: 20px; }
      body .question-answer .panel-heading .chevron:after {
        content: "\f0d8"; }
  body .question-answer .answer {
    padding-top: 15px;
    transition: .5s; }
  body .question-answer .panel-heading.collapsed .chevron:after {
    content: "\f0d7"; }
  body section.sec-newpapers .item {
    position: relative;
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    margin-bottom: 15px; }
    body section.sec-newpapers .item img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    body section.sec-newpapers .item:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  body .item-news {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid transparent; }
    body .item-news .box-img-news {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 75%;
      overflow: hidden; }
      body .item-news .box-img-news img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body .item-news .box-img-news:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    body .item-news .box-info-news {
      padding: 15px; }
      body .item-news .box-info-news h4 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        margin-bottom: 15px;
        min-height: 99px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        body .item-news .box-info-news h4:hover {
          color: #11883b; }
      body .item-news .box-info-news p {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 92px; }
    body .item-news:hover {
      border-bottom: 3px solid #11883b; }
    @media (max-width: 767px) {
      body .item-news {
        margin-bottom: 15px; } }
  body section.banner {
    min-height: 375px;
    justify-content: center;
    background: url("../images/bgr/banner3.png");
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-color: #252c30;
    position: relative; }
    body section.banner > .container {
      position: relative; }
    body section.banner:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #00000073;
      position: absolute;
      left: 0;
      top: 0; }
    body section.banner h2 {
      color: #fff;
      font-family: "Playfair Display", serif;
      font-weight: bold; }
  body .sec-content-page .page-content-main {
    margin-bottom: 30px; }
    body .sec-content-page .page-content-main .list-news {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .sec-content-page .page-content-main .list-news .item-news {
        width: calc(50% - 10px);
        margin-bottom: 20px; }
        body .sec-content-page .page-content-main .list-news .item-news .box-info-news h4 {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 67px; }
  body .sec-content-page .box-list-links {
    background-color: #f4f8f2;
    margin-bottom: 30px; }
    body .sec-content-page .box-list-links h2 {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 10px; }
      body .sec-content-page .box-list-links h2 span {
        cursor: pointer;
        font-size: 12px;
        font-weight: 400; }
    body .sec-content-page .box-list-links .list-links {
      padding: 10px;
      font-size: 13px; }
      body .sec-content-page .box-list-links .list-links > li > ul {
        padding-left: 15px;
        padding-top: 5px; }
        body .sec-content-page .box-list-links .list-links > li > ul li {
          margin-bottom: 5px; }
      @media (max-width: 767px) {
        body .sec-content-page .box-list-links .list-links {
          padding: 0 10px; } }
    body .sec-content-page .box-list-links ul span {
      font-weight: bold; }
    body .sec-content-page .box-list-links ul li > a:hover {
      color: #11883b;
      text-decoration: underline; }
  body .sec-content-page .page-content-r {
    background: #f4f8f2;
    padding: 30px 15px;
    border-top: 3px solid #11883b; }
    body .sec-content-page .page-content-r h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: "Playfair Display", serif; }
    body .sec-content-page .page-content-r .box-search {
      position: relative;
      margin-bottom: 30px; }
      body .sec-content-page .page-content-r .box-search input {
        width: 100%;
        height: 40px;
        padding: 0 40px 0 20px;
        border-radius: 20px;
        border: none; }
      body .sec-content-page .page-content-r .box-search button {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        width: 40px;
        border: none;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        color: #252c30; }
        body .sec-content-page .page-content-r .box-search button:hover {
          color: #11883b; }
    body .sec-content-page .page-content-r .box-fanpage iframe {
      width: 100%; }
    body .sec-content-page .page-content-r .box-fanpage h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: "Playfair Display", serif; }
    body .sec-content-page .page-content-r .box-news-relate .list-news-relate {
      margin-bottom: 30px; }
      body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        border-bottom: 2px solid transparent;
        padding-bottom: 1px; }
        body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news .img-l {
          width: calc(30% - 5px); }
        body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news .box-info-news {
          padding: 0;
          width: calc(70% - 5px); }
          body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news .box-info-news h4 {
            font-size: 16px;
            min-height: 70px;
            margin-bottom: 0; }
        body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news:hover {
          border-bottom: 2px solid #11883b; }
  @media (max-width: 767px) {
    body .sec-content-page .page-content-main {
      width: 100%;
      float: left; }
      body .sec-content-page .page-content-main .list-news .item-news {
        width: 100%; }
    body .sec-content-page .page-content-r .box-news-relate .list-news-relate .item-news .box-info-news h4 {
      font-size: 14px;
      padding: 5px; } }
  body .contact-form {
    background: #11883b;
    color: #fff; }
    body .contact-form .hotline-contact {
      font-size: 20px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      margin-bottom: 100px; }
      body .contact-form .hotline-contact .phone {
        display: flex;
        align-items: center;
        margin: 10px 0; }
        body .contact-form .hotline-contact .phone img {
          margin-right: 10px; }
        body .contact-form .hotline-contact .phone a {
          color: #fd6700;
          font-size: 50px;
          font-family: "Open Sans", sans-serif; }
    body .contact-form h3 {
      font-family: "Playfair Display", serif;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 15px; }
    body .contact-form p {
      margin-bottom: 10px; }
    body .contact-form .form-contact .note-form {
      font-style: italic; }
      body .contact-form .form-contact .note-form span {
        font-size: 20px;
        color: #fd6700; }
    body .contact-form .form-contact .box-btn {
      text-align: center; }
      body .contact-form .form-contact .box-btn a {
        padding: 15px 55px 15px 35px;
        border-radius: 30px;
        min-width: 170px;
        position: relative;
        background: #252c30;
        display: inline-block;
        text-transform: uppercase;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #fff; }
        body .contact-form .form-contact .box-btn a:after {
          content: "\f138";
          font-family: fontAwesome;
          font-size: 14px;
          margin-left: 10px;
          padding-top: 1px;
          position: absolute;
          color: #11883b;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        body .contact-form .form-contact .box-btn a:hover {
          background: #fff !important; }
          body .contact-form .form-contact .box-btn a:hover:after {
            color: #252c30 !important; }
      body .contact-form .form-contact .box-btn a:hover {
        color: #252c30; }
    @media (max-width: 767px) {
      body .contact-form .hotline-contact {
        font-size: 16px;
        margin-bottom: 50px; }
        body .contact-form .hotline-contact .phone {
          margin: 15px 0; }
          body .contact-form .hotline-contact .phone a {
            font-size: 30px; }
      body .contact-form h3 {
        font-size: 22px; } }
  @media (max-width: 991px) {
    body h1 {
      font-size: 44px; } }
  body .pag {
    float: right; }
    body .pag .pagination .active .page-link {
      background: #11883b;
      outline: 0;
      border-color: #11883b; }
    body .pag .pagination .page-link {
      padding: .75rem 1rem;
      cursor: pointer;
      font-weight: bold; }
      body .pag .pagination .page-link:hover {
        background: #11883b;
        border-color: #11883b;
        color: #fff;
        opacity: .7; }
  body .owl-carousel .owl-nav button.owl-next, body .owl-carousel .owl-nav button.owl-prev, body .owl-carousel .owl-nav .owl-next, body .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 25px;
    padding: 10px;
    background: #252c30;
    border-radius: 50%;
    line-height: 0;
    text-align: center;
    color: #fff;
    padding: 23px 19px !important; }
    body .owl-carousel .owl-nav button.owl-next:hover, body .owl-carousel .owl-nav button.owl-prev:hover, body .owl-carousel .owl-nav .owl-next:hover, body .owl-carousel .owl-nav .owl-prev:hover {
      background: #11883b; }
  body .owl-carousel .owl-nav .owl-next {
    right: -50px; }
  body .owl-carousel .owl-nav .owl-prev {
    left: -50px; }
  @media (max-width: 767px) {
    body .owl-carousel .owl-nav {
      position: relative; }
      body .owl-carousel .owl-nav button.owl-next, body .owl-carousel .owl-nav button.owl-prev, body .owl-carousel .owl-nav .owl-next, body .owl-carousel .owl-nav .owl-prev {
        transform: translate(0, 0); }
      body .owl-carousel .owl-nav .owl-next {
        right: 0;
        top: 0; }
      body .owl-carousel .owl-nav .owl-prev {
        left: 0; } }

#footer {
  background: #252c30;
  color: #fff;
  position: relative; }
  #footer .ft-top {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    #footer .ft-top .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
    #footer .ft-top .links-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #fff; }
      #footer .ft-top .links-footer > p {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: bold; }
      #footer .ft-top .links-footer .list-links-ft {
        padding-left: 40px; }
        #footer .ft-top .links-footer .list-links-ft span {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: #11883b;
          line-height: 55px;
          text-align: center;
          color: #fff;
          margin-left: 10px;
          display: inline-block; }
          #footer .ft-top .links-footer .list-links-ft span i {
            font-size: 18px; }
  #footer .ft-mid {
    background: url("../images/bgr/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    position: relative; }
    #footer .ft-mid:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background: #00000050;
      left: 0;
      top: 0; }
    #footer .ft-mid .item-ft h3 {
      font-size: 30px;
      font-weight: bold;
      font-family: "Playfair Display", serif;
      margin-bottom: 50px; }
    #footer .ft-mid .item-ft > p {
      margin-bottom: 20px; }
      #footer .ft-mid .item-ft > p span {
        color: #11883b;
        font-weight: bold; }
    #footer .ft-mid .item-ft ul li {
      margin-bottom: 15px; }
      #footer .ft-mid .item-ft ul li span {
        color: #11883b;
        width: 30px;
        display: inline-block;
        font-size: 18px; }
    #footer .ft-mid .item-ft .box-map iframe {
      width: 100%; }
    #footer .ft-mid .item-ft .list-link-support {
      display: flex;
      flex-wrap: wrap; }
      #footer .ft-mid .item-ft .list-link-support li {
        width: 50%; }
        #footer .ft-mid .item-ft .list-link-support li a {
          padding-left: 10px;
          position: relative;
          line-height: 16px; }
          #footer .ft-mid .item-ft .list-link-support li a:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f105";
            font-family: fontAwesome;
            color: #11883b;
            font-weight: bold; }
        #footer .ft-mid .item-ft .list-link-support li:hover {
          color: #11883b; }
    @media (max-width: 767px) {
      #footer .ft-mid {
        background-position: 100%; } }
  #footer .ft-bottom {
    background: rgba(0, 0, 0, 0.25);
    background: #11883b;
    padding: 15px 0; }
  @media (max-width: 767px) {
    #footer .ft-top .logo-ft {
      text-align: center;
      width: 100%;
      margin-bottom: 30px; }
    #footer .ft-top .links-footer {
      width: 100%; }
      #footer .ft-top .links-footer .list-links-ft {
        text-align: center;
        padding-left: 0;
        text-align: center;
        width: 100%; }
        #footer .ft-top .links-footer .list-links-ft span {
          margin: 0 5px; }
    #footer .ft-mid .item-ft h3 {
      text-align: center; } }
